*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  background:skyblue;
}
table{
  border:1px solid black;
  border-collapse:collapse;
  margin:50px auto;
  width:90%;
}
th{
  background:red;
  color:#fff;
  font-weight:bolder;
  font-size:20px;
  padding:8px;
}
td{
  font-weight: bold;
  font-size: 14px;
  padding: 8px;
  text-align: center;
}
table tr:nth-child(even){
  background:red;
  
}
table tr:nth-child(odd){
  background: red;
}
table tr:hover td{
  background:skyblue;
}

.car{
  border:1px solid white;
  border-collapse:collapse;
  margin:50px auto;
  width:90%;
}
th{
  background:red;
  color:#fff;
  font-weight:bolder;
  font-size:20px;
  padding:8px;
}
td{
  font-weight: bold;
  font-size: 14px;
  padding: 8px;
  text-align: center;
}
.car td:nth-child(even){
  background:yellow;
  
}
.car td:nth-child(odd){
  background: greenyellow;
}
.car td:hover{
  background:skyblue;
}
tr{
  border-bottom: 2px solid black;
}




.tabla1 td{
  height:75px;
}
